<section class="add-user-tab">
  <div class="image-description-tab">
    <div class="image">
      <div class="image-selector">
        <button class="image" mat-icon-button>
          <mat-icon class="mat-18">
            edit
            <div class="custom-file-upload">
              <input type="file" #image type="file" accept="image/*" (change)="processFile(image)" name="profile_pic"
                (focus)="updateFocus($event)" />
            </div>
          </mat-icon>
        </button>
      </div>
      <img [src]="_profile_image_data" *ngIf="_profile_image_data" (focus)="updateFocus($event)" />
    </div>
  </div>

  <div [style.display]=" isAccountVisibleState ? 'flex' : 'none'" class="input-tab">
    <div class="input-container">
      <div class="title">FIRST NAME</div>
      <input type="text" [(ngModel)]="user.firstname" (keyup)="updateFocus($event)" />
    </div>

    <div class="input-container">
      <div class="title">LAST NAME</div>
      <input [(ngModel)]="user.lastname" type="text" (keyup)="updateFocus($event)" />
    </div>

    <div class="input-container">
      <div class="title">EMAIL</div>
      <input [(ngModel)]="user.email" type="email" (keyup)="updateFocus($event)" />
    </div>

    <div class="input-container">
      <div class="title">PHONE</div>
      <input [(ngModel)]="user.phone_number" type="tel" (keyup)="updateFocus($event)" />
    </div>

  </div>

  <div [style.display]="!isAccountVisibleState ? 'flex' : 'none'" class="input-tab">

    <div class="input-container">
      <div class="title">OLD PASSWORD</div>
      <input type="password" [(ngModel)]="user.old_password" (keyup)="updateFocus($event)" />
    </div>

    <div class="input-container">
      <div class="title">NEW PASSWORD</div>
      <input type="password" [(ngModel)]="user.new_password" (keyup)="updateFocus($event)" />
    </div>

    <div class="input-container">
      <div class="title">CONFIRM PASSWORD</div>
      <input [(ngModel)]="user.password_confirm" type="password" (keyup)="updateFocus($event)" />
    </div>
  </div>
</section>
