<section class="convince-container">

  <section class="convince-content-container">

    <img
      src="https://prodcmscdn.azureedge.net/careerconnectresources/p/MICRUS/images/studentshomehero-1568023329563.jpg"
      alt="">

    <section class="convince-content-text">
      <h3>Life as a Hive Institute student
      </h3>
      <p>Our students work on real-world projects in collaboration with teams across the world, while having fun along
        the way. You’ll be empowered to build community, find your passion and achieve your goals. Join Hive Institute
        today, and help us create the world of tomorrow.
      </p>

      <a class="join-us-link" href="#">
        Get a glimpse inside
        <mat-icon>arrow_right_alt</mat-icon>
      </a>
    </section>

  </section>
</section>
