<section class="convince-container">

    <section class="convince-content-container">
        <img src="../../../assets/images/explore.jpg" alt="Laila convincing you">

        <!-- <img src="https://prodcmscdn.azureedge.net/careerconnectresources/p/MICRUS/images/studentshomehero-1568023329563.jpg" alt=""> -->

        <section class="convince-content-text">
            <h3>Explore other ways to learn and get engaged
            </h3>
            <p>Our students work on real-world projects in collaboration with teams across the world, while having fun along the way. You’ll be empowered to build community, find your passion and achieve your goals. Join Hive Institute today, and help us
                create the world of tomorrow.
            </p>

            <!-- <div class="footer-rounded-button" style="margin-top: 20px; cursor: pointer;">
        <span class="rounded-button" style="margin-right: 10px; background-color: #656f77;">
          <img src="/assets/svg/right-arrow.svg" alt="" srcset="">
        </span>

        <span class="footer"> Get a glimpse inside</span>
      </div> -->
            <a class="join-us-link" href="#">
        Get a glimpse inside
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
        </section>

    </section>
</section>