<section class="convince-container">
  <section class="convince-content-container">
    <img src="../../../assets/images/explore.jpg" alt="Laila convincing you" />

    <section class="convince-content-text">
      <h3>Explore other ways to learn and get engaged</h3>
      <p>
        Our students work on real-world projects in collaboration with teams
        across the world, while having fun along the way. You’ll be empowered to
        build community, find your passion and achieve your goals. Join Hive
        Institute today, and help us create the world of tomorrow.
      </p>

      <a class="join-us-link" routerLink="/academics">
        Get a glimpse inside
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
    </section>
  </section>
</section>
