<div class="course-specific-container">
  <div style="z-index: 6! important;" class="input-container" *ngIf="!isLoading; else loaderComponent">

    <!-- CLOSE Buttons -->
    <div class="close-button-container">
      <button mat-mini-fab aria-label="closing the dialog and return to a new page">
        <mat-icon>close</mat-icon>
      </button>
    </div>



    <div style="margin-top: 20px;"></div>


    <section class="logo-header">
      <img _ngcontent-serverapp-c338="" alt="Hive News Logo" loading="lazy" class="registeration-logo"
        src="/assets/images/logom.png">
      <h1>Hive Institute</h1>

    </section>
    <div style="margin-top: 10px;"></div>


    <div class="sub-header" style="width:80%">
      Thank you for enrolling in {{course.name}},
      Your enrollment has been submitted and an email will be sent you after it has been reviewed.
    </div>

    <div style="margin-top: 15px;"></div>


    <!-- <div class="course-specific-details-input">
      <div class="label">Course Interested In</div>
      <input type="text" value="{{course.name}}" disabled />
    </div> -->

    <div style="margin-top: 15px;"></div>


    <button style="margin-right: 5px;" class="signup" mat-button>
      <a [routerLink]="'/'" style="color: white"> Go to Home Page</a>
    </button>


  </div>




  <canvas style="z-index: 1;" class="background"> </canvas>
</div>



<ng-template #loaderComponent>
  <app-loader></app-loader>
</ng-template>
