<div class="order-number">
    <!-- Number to be inserted when loopoing -->

    <section class="order-number">
        <mat-radio-group aria-label="Select an option">
            <section class=" order-number">
                <p>{{1}}</p>
                <mat-radio-button value="1"></mat-radio-button>
                <p>{{1}}</p>
                <mat-radio-button value="2"></mat-radio-button>
                <p>{{1}}</p>
                <mat-radio-button value="2"></mat-radio-button>
            </section>
        </mat-radio-group>
    </section>

</div>