.spinner {
  width: 485px;
  margin: 20px auto;
}

.news-page-list-content {
  width: 100%;
  /* height: 600px; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.02);
}

.news-page-new-list {
  width: 100%;

  /* background-color: red; */

  height: 90%;
}
.news-page-new-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 25%);
}

.news-content-container-list-item {
  width: calc((100% / 3) - 30px);
  height: 390px;
  border: 0.5px solid rgba(0, 0, 0, 0.0558);

  margin-bottom: 30px;
}

.news-page-list-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.news-page-list-content-header {
  width: calc(100% - 25%);

  margin-bottom: 30px;
}

.news-page-list-content-header .post-count {
  font-family: SFProText;
  font-size: 15px;
  font-weight: 600;
}

/* New Grid List  */
.grid-news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 300px 1fr; */
  /* grid-gap: 10px; */
  /* height: 500px; */

  background-color: antiquewhite;
}

div.block {
  width: 100%;
  height: 350px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 10px;
  margin-bottom: 10px; */
}

div.block a {
  display: inline-block;
  width: 100%;
  height: 100%;

  position: relative;
}

div.block .text-container {
  width: 80%;
  height: auto;
  background-color: white;

  color: var(--brownish-grey);

  position: absolute;
  bottom: 0;
  left: 0;

  padding: 10px;

  font-size: 18px;

  line-height: 1.25em;
  font-family: SFUIText-Light;
}

div.block .text-container .instructors-grid {
  margin-top: calc((30px + 10px) * -1);
}

div.block .text-container .container-text-content {
  margin-top: 10px;
}

div.block .text-container .container-text-content p {
  font-size: 21px;
  font-weight: 500;
  font-family: SFUIText-Medium;
}

div.block .text-container .container-text-content span {
  font-size: 16px;
}
div.block .text-container .instructors-grid img {
  width: 60px;
  height: 60px;
  border: 2px solid whitesmoke;
  object-fit: cover;
}

@media screen and (max-width: 1600px) {
  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .news-content-container-list-item {
    width: calc((100% / 3) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1414px) {
  .news-page-new-list {
    width: calc(90%);
  }

  .news-content-container-list-item {
    width: calc((100% / 3) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .news-content-container-list-item {
    width: calc((100% / 3) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .news-page-new-list {
    width: calc(90%);
  }
  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .news-content-container-list-item {
    width: calc((100% / 2) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 879px) {
  .news-page-new-list {
    width: calc(90%);
  }

  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .news-content-container-list-item {
    width: calc((100% / 2) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 680px) {
  .news-page-new-list {
    width: calc(95%);
  }
  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .news-content-container-list-item {
    width: calc((100%));
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}
