<div *ngIf="posts">
  <jhi-new-header [posts]="posts.slice(0,2)" [activeRoute]="'news'" [headerPosts]="posts"></jhi-new-header>
  <!-- <app-jhi-partners></app-jhi-partners> -->
  <!-- <app-jhi-vertical-divider></app-jhi-vertical-divider> -->

  <!-- <section class="news-page-list-content">
    <app-jhi-vertical-divider style="margin-top:-30px"></app-jhi-vertical-divider>

    <section class="news-page-list-content-header">
      <div></div>


      <h2 *ngIf="posts" class="post-count">{{ posts.length + " posts" }}</h2>
    </section>

    <section class="news-page-new-list" *ngIf="posts else loader">

      <app-jhi-new-news-card class="news-content-container-list-item" *ngFor="let post of posts" [news]="post">
      </app-jhi-new-news-card>

    </section>

    <app-jhi-vertical-divider></app-jhi-vertical-divider>

  </section> -->

  <section class="grid-news-container">
    <div *ngFor="let post of posts" [style.backgroundImage]="'url('+ post.thumbnail.url +')'" class="block">
      <a>


      </a>
    </div>




  </section>


  <!-- <div style="margin-bottom: 100px;"></div> -->

  <!-- <app-jhi-partners-full-list></app-jhi-partners-full-list> -->
  <!-- <app-jhi-vertical-divider></app-jhi-vertical-divider> -->
  <jhi-footer></jhi-footer>
</div>




<ng-template #loader>
  <!-- <app-loader></app-loader> -->
</ng-template>
