<section class="mantra-container">
  <h3 class="mantra-heading">Our mantra </h3>

  <section class="mantra-content-container">

    <section class="mantra-item">

      <img src="/assets/svg/idea.svg" alt="" srcset="" width="90px" height="90px">

      <h4>Innovation</h4>
      <p>We aim to foster a practical skilled generation that is able to articulate problems and develop sustainable and
        effective future proof ideas. </p>
    </section>

    <div class="spacer-vertical-dashed"></div>
    <section class="mantra-item">

      <img src="/assets/svg/emerge.svg" alt="" srcset="" width="90px" height="90px">

      <h4>Emerging Technology
      </h4>
      <p>Our course syllabus is designed to develop awareness, competence and confidence in understanding and using
        relevant modern technologies to solve societal problems.

      </p>
    </section>

    <section class="mantra-item">

      <img src="/assets/svg/hands-on.svg" alt="" srcset="" width="90px" height="90px">

      <h4>Hands on Practicality
      </h4>
      <p>Experiments, practical investigations and actual realization of relevant topics and their impact in real life
        is always encouraged across board.
      </p>
    </section>
  </section>
</section>
