:host {
  --mantra-height: 130px;
}
.mantra-container {
  width: 100%;
  /* height: var(--mantra-height); */

  display: flex;
  align-items: center;
  flex-direction: column;

  /* margin-top: calc((var(--mantra-height) / 2) * -1); */
  margin-top: 100px;
  margin-bottom: 100px;

  /* Give all specific components */
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

.mantra-container h3 {
  font-family: SFUIText-Medium;
  font-size: 32px;

  line-height: normal;
  color: var(--charcoal-grey);
}
.mantra-content-container {
  display: flex;
  justify-content: space-between;

  width: calc(65%);
  height: 100%;

  /* border-radius: 0.75rem; */
  background-color: white;
  /* offset-x | offset-y | blur-radius | color */
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */

  z-index: 2 !important;
}

.mantra-heading {
  font-size: 34px;

  margin-bottom: 50px;
}
.mantra-item {
  width: calc((100% / 3) - 20px);

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

  text-align: center;
  /* background-color: tomato; */

  font-family: SFUIText-Medium;
  line-height: normal;
  color: var(--charcoal-grey);
}

.mantra-item h4 {
  font-family: SFUIText-Medium;
  font-size: 1.5rem;
  line-height: 1.25;
  color: var(--brownish-grey);
}

.mantra-item p {
  font-family: SFUIText-Light;
  font-size: 0.97rem;
  line-height: 1.25;
  color: var(--brownish-grey);
}
.spacer-vertical-dashed {
  height: 100%;
  border-right: 0.05px solid rgba(0, 0, 0, 0.384);
  /* border-style: dashed; */
}

/* media queries */
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1368px) {
}

@media screen and (min-width: 1414px) {
}

@media (max-width: 575px) {
  .mantra-content-container {
    display: flex;
    flex-direction: column;
    width: calc(100%);
  }
}
