:host {
  --news-letter-height: 130px;
}
.news-letter-container {
  width: 100%;
  /* height: var(--news-letter-height); */

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 50px 0px;

  /* Give all specific components */
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;

  position: relative;
}

.news-letter-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(30%);
  height: 100%;

  /* border-radius: 0.75rem; */
  background-color: white;

  z-index: 2 !important;
}

.news-letter-heading {
  font-family: SFUIText-Medium;
  font-size: 32px;

  line-height: normal;
  color: var(--charcoal-grey);

  margin-bottom: 10px;
}

.news-letter-subheading-heading {
  /* font-size: 24px; */

  margin-bottom: 30px;
  text-align: center;

  font-family: SFUIText-Light;
  font-size: 0.97rem;
  line-height: 1.25;
  color: var(--brownish-grey);
}

.news-letter-content-container input {
  width: 100%;
  border-radius: 10px;
  height: 40px;
  outline: none;

  border: 0.05px solid #f6881f;

  padding: 5px 10px;
}

.news-letter-content-container button {
  background-color: #f6881f;
  margin-top: 20px;

  padding: 5px 20px;
  font-size: 0.97rem;

  font-family: SFUIText-Medium;
  color: white;
}
/* media queries */
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1368px) {
}

@media screen and (min-width: 1414px) {
}

@media (max-width: 575px) {
  .news-letter-content-container {
    display: flex;
    flex-direction: column;
    width: calc(100%);
  }
}
