/* New Grid List  */
.grid-news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 0px;
  /* grid-template-rows: 300px 1fr; */
  /* grid-gap: 10px; */
  /* height: 500px; */

  background-color: rgb(250, 250, 250);
}

div.block {
  width: 100%;
  height: 350px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 10px;
  margin-bottom: 10px; */
}

div.block a {
  display: inline-block;
  width: 100%;
  height: 100%;

  position: relative;
}

div.block .text-container {
  width: 80%;
  height: auto;
  background-color: white;

  color: var(--brownish-grey);

  position: absolute;
  bottom: 0;
  left: 0;

  padding: 10px;

  font-size: 18px;

  line-height: 1.25em;
  font-family: SFUIText-Light;

  border-top-right-radius: 5px;

  text-align: left;
}

div.block .text-container .instructors-grid {
  margin-top: calc((30px + 10px) * -1);
}

div.block .text-container .container-text-content {
  margin-top: 10px;
}

div.block .text-container .container-text-content .head {
  font-size: 22px;
  display: inline;
  font-weight: 500;
  font-family: SFUIText-Medium;
  color: #4a4a4a;
  transition: all 0.2s ease-in-out;
  /* Underline */
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size 0.3s;
  position: relative;
}

div.block .text-container .container-text-content:hover .head {
  /* text-decoration: underline; */
  background-size: 100% 2px;
  transition: all 0.4s ease-in-out;
}

div.block .text-container .container-text-content .footer {
  width: 100%;
  display: block;
  font-size: 13px;

  margin-top: 15px;
}
div.block .text-container .instructors-grid img {
  width: 60px;
  height: 60px;
  border: 2px solid whitesmoke;
  object-fit: cover;
}

@media screen and (max-width: 1600px) {
  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .news-content-container-list-item {
    width: calc((100% / 3) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1414px) {
  .news-page-new-list {
    width: calc(90%);
  }

  .news-content-container-list-item {
    width: calc((100% / 3) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .news-content-container-list-item {
    width: calc((100% / 3) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .news-page-new-list {
    width: calc(90%);
  }
  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .news-content-container-list-item {
    width: calc((100% / 2) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 879px) {
  .news-page-new-list {
    width: calc(90%);
  }

  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .news-content-container-list-item {
    width: calc((100% / 2) - 15px);
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 680px) {
  .news-page-new-list {
    width: calc(95%);
  }
  .grid-news-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .news-content-container-list-item {
    width: calc((100%));
    height: 380px;
    border: 0.5px solid rgba(0, 0, 0, 0.0558);

    margin-bottom: 30px;
  }
}
