<section class="course-detail-page-container">
  <jhi-onsite-navbar [activeRoute]="'academics'"></jhi-onsite-navbar>

  <div ></div>

  <section>
    <div class="course-banner">

      <div class="course-detail-summary">
        <h1>Internet of Things</h1><span>2 months</span>
        <p>Concept of the Internet of Things is becoming increasingly important and understanding both the technical and
          wider societal impacts of the Internet of Things will be crucial for the digital citizens of the future.</p>
      </div>

    </div>
  </section>

  <section>
    <div class="course-wrapper">
      <div class="course-details-container">
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>
        <div class="course-details-wrapper">
          <img class="icon" src="/assets/images/note.bmp" alt="note">
          <div class="course-description">
            <h3 class="course-header">Chapter 1:Brief history on the internet of things</h3>
            <ul class="unordered-list">
              <li>How it started</li>
              <li>Where it started </li>
              <li>Some of the projects it was used for</li>
            </ul>
            <p class="duration">45min.</p>
          </div>
        </div>


      </div>

      <div class="instructor-container">
        <div class="profile-wrapper">
          <img class="profile" src="/assets/images/sh.bmp" alt="">
          <p class="instructor-name">Prince Banini</p>
          <p class="position">Instructor</p>
          <p class="instructor-desc">Prince is Lead developer of internet of things, embedded systems and single board
            computer based prototypes. He plans and coordinates the IoT master’s training program.</p>
          <button class="btn-enroll">ENROLL</button>
        </div>

      </div>
    </div>
  </section>

  <div style="margin-bottom: 100px;"></div>
  <jhi-footer></jhi-footer>
</section>
