<header>
  <jhi-onsite-navbar [activeRoute]="activeRoute"></jhi-onsite-navbar>

  <ngb-carousel class="header-carousel" [showNavigationArrows]="navigation.showNavigationArrows"
    [showNavigationIndicators]="navigation.showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let course of courses">
      <div class="slider" [style.backgroundImage]="getPostThumbUrl(course.image)">
        <div class="post">
          <h3 class="post-title">{{ course.title }}</h3>

          <p class="post-date">{{ course.description }}</p>

          <!-- <a class="post-read" [routerLink]="['/posts', post.post_id]">Explore</a> -->
        </div>
      </div>
    </ng-template>
  </ngb-carousel>


</header>
