#dark {
  color: rgb(0, 0, 0);
}

#white {
  color: white;
}

.admin-dashboard-content {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin-dashboard-content-container {
  width: 80%;
  height: auto;
  /* background-color: #d41354; */

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

  color: white;
  line-height: 1.5rem;

  z-index: 0;
}

/* Image Header Component */
.admin-dashboard-image-header-container {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;

  position: relative;
}

.admin-dashboard-image-header-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.admin-dashboard-image-header-container button {
  position: absolute;

  top: 10px;
  right: 10px;
}

.admin-dashboard-image-header-container .admin-dashboard-blog-title {
  position: absolute;
  bottom: 10px;
  left: 10px;

  width: auto;
  height: auto;

  font-size: 52px;

  border: none;
  background: none;
  color: white;
  outline: none;
}

.admin-dashboard-image-header-container .admin-dashboard-blog-title {
  
}
#content-editor {
  width: 50%;
  height: 700px;
  z-index: 999 !important;
}

/*
    Screen Resolutions Fix
    default styles here for older browsers.
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  .admin-dashboard-content-container .side-page:last-child {
    width: 100%;
  }
}

/* Reaches max zoom**/
@media (max-width: 1200px) {
}
