<section class="registeration-container" *ngIf="course; else loader">
  <div class="side-page background-container" [style.backgroundImage]="'url('+course.banner.url+')'">
    <div class="left-head-title" routerLink="/"> <a href="/">Hive Institute</a> </div>
    <div class="left-head-description">
      <div class="title"> Hive Institute </div>
      <div class="description">
        We aim to foster a practical skilled generation that is able to articulate problems and develop sustainable and
        effective future proof ideas.
      </div>
    </div>
  </div>

  <section class="side-page register-user" style="color: black;">

    <section class="register-logo-header">
      <img _ngcontent-serverapp-c338="" alt="Hive News Logo" loading="lazy" class="registeration-logo"
        src="/assets/images/logom.png">
      <h1>Hive Institute</h1>

    </section>
    <p>A few things first before you enroll</p>
    <div style="margin-bottom: 30px;"></div>

    <mat-vertical-stepper class="reg-form-vertical-stepper">

      <mat-step>
        <form #form="ngForm">
          <ng-template matStepLabel>Personal Information</ng-template>
          <section class="stepper-content" matStepContent>
            <section class="login-inputs">

              <div class="input-wrapper">
                <!-- <label for="">Your email</label> -->
                <input [(ngModel)]="email" type="text" name="email" id="email" placeholder="Your email">
              </div>

              <div class="input-wrapper">
                <!-- <label for="">First name</label> -->
                <input [(ngModel)]="fname" type="text" name="fname" id="fname" placeholder="Firstname">
              </div>

              <div class="input-wrapper">
                <!-- <label for="">Last name</label> -->
                <input [(ngModel)]="lname" type="text" name="lname" id="lname" placeholder="Lastname">
              </div>

              <div class="input-wrapper">
                <!-- <label for="">Last name</label> -->
                <input [(ngModel)]="phonenumber" type="tel" name="tel" id="tel" placeholder="Phone number">
              </div>


            </section>
          </section>
          <button mat-button matStepperNext>Next</button>
        </form>
      </mat-step>
      <mat-step>
        <form #form="ngForm">

          <ng-template matStepLabel>Course requiremnets </ng-template>

          <div class="registeration-inputs stepper-content" matStepContent>

            <!-- Get the course curriculums and display them -->
            <section *ngFor="let question of course.quiz.questions; let count = index;" class="question-container">
              <span class="question">{{(count + 1) +". " + question.question }}</span>

              <div style="margin-bottom: 10px;"></div>

              <!-- CHECK QUESTION TYPES AND USE THAT TO RENDER INPUT TYPES -->
              <!-- RENDER TYPE FOR SHORT ANSWER -->
              <app-simple-answer-input class="answer-containers" *ngIf="question.question_type ===SHORT_ANSWER"
                class="mat-field-wrapper" (valueChange)="updateSimpleAnswerQuestionType($event,count)">
              </app-simple-answer-input>



              <!-- RENDER TYPE FOR SHORT ANSWER -->
              <mat-radio-group class="answer-containers" *ngIf="question.question_type ===MULTIPLE_CHOICETYPE" vertical
                class="input-wrapper mtb-2" aria-label="Select an option">
                <mat-radio-button (change)="updateRadioBoxQuestionType($event,count, option)" class="checkbox-block"
                  *ngFor="let option of question.answers" [value]="option.answer">
                  {{option.answer}}
                </mat-radio-button>

              </mat-radio-group>

              <!-- The Question Position uses the count -->
              <section class="answer-containers" *ngIf="question.question_type === CHECKBOXESTYPE">
                <mat-checkbox style="display:block; margin-bottom: 10px" [(ngModel)]="option.ticked"
                  *ngFor="let option of question.answers; let opt_count = index" [name]="option.id" [value]="option.id"
                  (ngModelChange)="updateCheckBoxQuestionType($event,count, option)">
                  {{option.answer}}
                </mat-checkbox>

              </section>


              <section class="answer-containers" *ngIf="question.question_type === LINEAR_SCALETYPE">
                <app-linear-scale (valueChange)="updateLinearScaleQuestionType($event, count)"
                  [min]="question.linear_scale.min" [max]="question.linear_scale.max">
                </app-linear-scale>
              </section>

            </section>


            <!-- <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button> -->
          </div>

          <div class="submit-container">
            <input *ngIf="!isLoading" mat-button type="button" value="Submit" (click)="submitEnrollment()">
            <div *ngIf="!isLoading else loader"></div>
          </div>
        </form>
      </mat-step>

    </mat-vertical-stepper>


  </section>

</section>


<ng-template #loader>
  <section style="display:flex; justify-content:center">
    <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>

  </section>
</ng-template>
