<section class="registeration-container">
    <div class="side-page background-container">
        <div class="left-head-title" routerLink="/"> <a href="/">Hive Institute</a> </div>
        <div class="left-head-description">
            <div class="title"> Innovative, Technological & Practical </div>
            <div class="description">
                We aim to foster a practical skilled generation that is able to articulate problems and develop sustainable and effective future proof ideas.
            </div>
        </div>
    </div>

    <section class="side-page register-use" style="color: black;">

        <mat-vertical-stepper>

            <mat-step>
                <form #form="ngForm">
                    <ng-template matStepLabel>Personal Information</ng-template>
                    <section matStepContent>
                        <section class="login-inputs">
                            <div class="input-wrapper">
                                <!-- <label for="">First name</label> -->
                                <input [(ngModel)]="fname" type="text" name="fname" id="fname" placeholder="Firstname">
                            </div>
                            <div class="input-wrapper">
                                <!-- <label for="">Last name</label> -->
                                <input [(ngModel)]="lname" type="text" name="lname" id="lname" placeholder="Lastname">
                            </div>
                            <div class="input-wrapper">
                                <!-- <label for="">Last name</label> -->
                                <input [(ngModel)]="lname" type="tel" name="tel" id="tel" placeholder="Lastname">
                            </div>
                            <div class="input-wrapper">
                                <!-- <label for="">Your email</label> -->
                                <input [(ngModel)]="email" type="text" name="email" id="email" placeholder="Your email">
                            </div>
                            <div class="input-wrapper">
                                <!-- <label for="">Your date of birth</label> -->
                                <input type="date" name="dob" id="dob" placeholder="Your date of birth">
                            </div>
                        </section>
                    </section>
                    <button mat-button matStepperNext>Next</button>
                </form>
            </mat-step>
            <mat-step>
                <form #form="ngForm">

                    <ng-template matStepLabel>Course requiremnets </ng-template>
                    <ng-template matStepContent>
                        <p>This content was also rendered lazily</p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quisquam culpa expedita fuga cumque adipisci debitis numquam magni soluta a illo sit consequatur iusto eius laboriosam doloremque odio, earum quam?
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </ng-template>
                    <div class="registeration-inputs">
                        <span class="question">What are you intrests?</span>
                        <mat-form-field class="mat-field-wrapper">
                            <!-- <mat-label>Enter the text here</mat-label> -->
                            <textarea matInput placeholder="Your answer...."></textarea>
                        </mat-form-field>
                        <span class="question">Who do you have to work on ?</span>
                        <mat-form-field class="mat-field-wrapper">
                            <!-- <mat-label>Enter the text here</mat-label> -->
                            <textarea matInput placeholder="Your answer...."></textarea>
                        </mat-form-field>
                        <section class="Input-wrapper">
                            <span class="question">What brought you here?</span>

                            <section class="checkbox-container">
                                <mat-checkbox class="">Facebok</mat-checkbox>
                            </section>
                            <section class="checkbox-container">
                                <mat-checkbox class="">Instagram</mat-checkbox>
                            </section>
                            <section class="checkbox-container">
                                <mat-checkbox class="">Twitter</mat-checkbox>
                            </section>
                            <section>
                                <p class="question">Are you a JavaScript developer</p>
                                <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                                    <p class="question">Do you know how to code?</p>
                                    <mat-radio-button class="example-radio-button">YES

                                    </mat-radio-button>
                                </mat-radio-group>
                                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                                    <p class="question">Do you know how to code?</p>
                                    <mat-radio-button class="example-radio-button">YES

                                    </mat-radio-button> -->

                                <!-- </mat-radio-group> -->
                                <mat-radio-group vertical class="input-wrapper mtb-2" aria-label="Select an option">
                                    <mat-radio-button value="1">YES</mat-radio-button>
                                    <br>
                                    <br>
                                    <mat-radio-button value="2">NO</mat-radio-button>
                                </mat-radio-group>


                            </section>
                        </section>
                    </div>
                </form>
            </mat-step>

        </mat-vertical-stepper>
        <div class="submit-container">
            <input *ngIf="!isLoading" mat-button type="button" value="Submit" (click)="signin()">
            <div *ngIf="!isLoading else loader"></div>
        </div>
    </section>

</section>


<ng-template #loader>
    <section style="display:flex; justify-content:center">
        <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>

    </section>
</ng-template>
