<nav class="navbar" [ngClass]="{ scrolled: scrolled }">
  <div class="header-nav">
    <a [routerLink]="['/']">
      <img src="/assets/images/media.png" alt="Hive News Logo" loading="lazy" class="logo" />
    </a>

    <ul class="main-nav">
      <!-- <li>
        <button (click)="openModal(template)" class="subscribe-btn">
          SUBSCRIBE
        </button>
      </li> -->
      <li>
        <a href="https://kumasihive.com">
          <img src="../../../assets/images/HomeIcons.svg" loading="lazy" alt="" />
        </a>
      </li>
    </ul>

    <ng-template #template style="margin-top: 155px;">
      <jhi-subscribe-dialog></jhi-subscribe-dialog>
    </ng-template>
  </div>
</nav>
