<a [routerLink]="'' + news.slug">
  <section class="news-card-container">
    <img [src]="news.thumbnail.url" alt="" srcset="" loading="lazy" />
    <section class="news-card-content-text">
      <h3 class="news-card-title">{{ news.title }}</h3>

      <div class="spacer"></div>
      <section class="flex-height-center news-card-footer">
        <div class="flex-height-center">
          {{
            getDate(news.date_created) + " by " + getAuthors(news.authors) || ""
          }}
        </div>
      </section>
    </section>
  </section>
</a>
