<section class="main-milestones">
  <section class="milestones">
    <div class="milestones-container">
      <div class="mile-box">
        <h4>Total students</h4>
        <p>300</p>
      </div>
      <div class="mile-box">
        <h4>Total courses</h4>
        <p>6</p>
      </div>
      <div class="mile-box">
        <h4>Satisfactory rate</h4>
        <p>96%</p>
      </div>
      <div class="mile-box">
        <h4>Pro Instrucotrs</h4>
        <p>12</p>
      </div>
    </div>
  </section>
</section>
