<section class="academic-introduction">
  <div class="academic-intro">
    <div class="aca-wrapper">
      <div class="videoplay-con">
        <button
          (click)="openDialog()"
          mat-mini-fab
          aria-label="Example icon button with a filter list icon"
          class="play"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>

      <div class="academic-info-con">
        <h3 class="video-heading">Get your certificate with us!</h3>
        <p class="video-text">
          Our strength in interdisciplinary education, our dedicated staff and a
          culture of innovation set the training ground for the next generation
          of innovators, leaders and pioneers.
        </p>
      </div>
    </div>
  </div>

  <div class="modal-bg modal-active">
    <div class="modal-wrapper">
      <div class="modal">
        <div class="modal-content">
          <iframe
            src="https://www.youtube.com/embed/c7MWA_8K79w"
            title="Hive Institute of Technology introduction video."
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <i id="close-modal" class="fas fa-times"></i>
      </div>
    </div>
  </div>
</section>
