<section class="academic-introduction">
    <div class="academic-intro">
        <div class="videoplay-con">
            <button (click)="openDialog()" mat-mini-fab aria-label="Example icon button with a filter list icon" class="play">
        <mat-icon>play_arrow</mat-icon>
      </button>


        </div>

        <div class="academic-info-con">
            <h3>Get your certificate with us!</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <!-- <a class="btn btn-more" href="../form2.html"> Know more</a> -->
        </div>

    </div>


    <div class="modal-bg modal-active">
        <div class="modal-wrapper">
            <div class="modal">
                <div class="modal-content">
                    <iframe src="https://www.youtube.com/embed/IBaAwlsZzew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <i id="close-modal" class="fas fa-times"></i>
            </div>

        </div>

    </div>

</section>