.academic-introduction {
  max-width: 100%;

  display: flex;
  justify-content: center;

  /* Give all specific components */
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.academic-intro {
  display: flex;
  align-items: center;
  width: 60%;
  border: 3px solid skul;
}

.videoplay-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 450px;
  background-image: url("/assets/images/hexa.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.videoplay-con p {
  color: #fff;
  font-weight: 700;
  margin: 0.5em;
  font-family: SFUIText-Light;
}

.asa {
  width: 100%;
  height: 300px;
}

.play {
  width: 5em;
  height: 5em;
  position: relative;
  border: none;
  outline: none;
  background: none;
}

.play::before,
.play::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.play:hover::after {
  background-color: #4d4d4d3b;
  z-index: 1;
  animation: pulse 1150ms infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

.academic-info-con {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.academic-info-con h1 {
  font-weight: 700;
  font-size: 2.4rem;
  color: #454e4d;
  font-family: SFUIText-Medium;
}

.academic-info-con p {
  font-weight: 400;
  padding: 0.8em 0;
  font-size: 1.1rem;
  color: rgb(68, 68, 68);
  font-family: SFUIText-Light;
}

.academic-info-con span {
  font-family: SFUIText-Light;
  font-size: 22px;
}
.btn-more {
  display: none;
  width: 100%;
  max-width: 150px;
  align-self: center;
  margin: 2em 0;
  padding: 0.9em 0.4em;
  border-radius: 12px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  color: #f6881f;
  font-weight: 700;
  border: none;
  font-family: "Lato", sans-serif;
  box-shadow: -2px 17px 32px 1.40058px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 679px) {
  .academic-intro {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .academic-info-con {
    margin-top: 3rem;
  }
  .videoplay-con {
    margin-top: 1em;
    min-height: 350px;
    height: 100%;
    min-width: 250px;
    background-size: contain;
  }
}
