* {
  --full-width: 659px;
  --image-tab-width: 300px;

  --full-height: 452px;
  --image-height: 320px;
}

.margin {
  margin: 0 10px;
}

.add-user-tab {
  width: var(--full-width);
  height: var(--full-height);
  box-shadow: inset -1px 0 0 0 var(--black-10);
  background-color: var(--white);

  /* background-color: black; */

  display: flex;
}

.image-description-tab {
  width: var(--image-tab-width);
  height: 100%;
}

.image-description-tab .image {
  width: 100%;
  /* height: var(--image-height); */
  height: 100%;

  background-color: rgba(165, 42, 42, 0.137);
  position: relative;
}

.image-description-tab .image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.image-description-tab .image .image-selector {
  background-color: var(--pumpkin-orange-60);

  right: 5px;
  bottom: 5px;
  position: absolute;

  width: 40px;
  height: 40px;

  z-index: 2;

  color: white;
}
.image-description-tab .image .image-selector button {
  width: 40px;
  height: 40px;
}

.image-description-tab .image .image-selector button input {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  position: absolute;
  top: 0px;
  left: 0px;

  opacity: 0;
}

.image-description-tab .description {
  width: 100%;
  height: 132px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  display: none;
}

.image-description-tab .description .name {
  font-family: SFUIText-Medium;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);
}

.image-description-tab .description .role {
  font-family: SFUIText-Light;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--warm-grey);
}
.input-tab {
  width: calc(var(--full-width) - var(--image-tab-width));
  height: 100%;

  /* background-color: aquamarine; */

  display: flex;
  /* justify-content: space-around; */
  align-items: center;

  flex-direction: column;

  margin-top: 20px;
}

.input-tab .input-container {
  width: 320px;

  /* background-color: gray; */
  color: var(--warm-grey);
  margin-bottom: 20px;
}

.input-tab .input-container .title {
  font-family: SFUIText-Medium;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.38px;
  text-align: left;
  color: var(--warm-grey);
}
.input-tab .input-container input {
  width: 310px;
  height: 30px;
  border: solid 1px var(--black-10);
  background-color: var(--white-two-20);
}

.input-tab .input-container textarea {
  resize: none;

  border: solid 1px var(--black-10);
  background-color: var(--white-two-20);
}
.input-container .input-container .gender-container {
  width: 100%;

  display: inline-block;

  font-family: SFUIText-Light;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);
}

.heading {
  font-family: SFUIText-Light;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);

  margin-right: 30px;

  cursor: pointer;
}

.active-heading::after {
  display: block;
  content: " ";
  width: 50px;
  height: 3px;
  background-color: #ff8100;

  margin-top: 5px;
  font-weight: bold;
}

.heading-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.tabs {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.save_button {
  background-color: #ff8100;
  color: white;
}
