<section class="Container">

  <div class="heading-toggle">
    <div class="tabs">
      <div [ngClass]="{'active-heading' : isAccountVisibleState}" class="heading" (click)=" isAccountVisibleState=true">
        General</div>
      <div *ngIf="isNew" [ngClass]="{'active-heading' : !isAccountVisibleState}" class="heading"
        (click)="isAccountVisibleState = false">
        Password</div>
    </div>

    <button mat-button [style.display]="isLoading ? 'none' : 'block'" class="save_button"
      (click)="saveUser.emit($event)">{{ isNew? "Save Changes" : "Update Changes"}}</button>
  </div>

  <section class="add-user-tab">
    <div class="image-description-tab">
      <div class="image">
        <div *ngIf="!isNew" class="image-selector">
          <button class="image" mat-icon-button>
            <mat-icon class="mat-18">
              edit
              <div class="custom-file-upload">
                <input type="file" #image type="file" accept="image/*" (change)="processFile(image)"
                  name="profile_pic" />
              </div>
            </mat-icon>
          </button>
        </div>
        <img [src]="_profile_image_data" *ngIf="_profile_image_data" />
      </div>

      <div class="description">
        <div class="name">{{ user.firstname + " " + user.lastname }}</div>



      </div>
    </div>

    <div class="input-tab" [style.display]="isAccountVisibleState ? 'flex' : 'none'">
      <div class="input-container">
        <div class="title">FIRST NAME</div>
        <input type="text" [(ngModel)]="user.firstname" />
      </div>

      <div class="input-container">
        <div class="title">LAST NAME</div>
        <input [(ngModel)]="user.lastname" (keyup)="updateLastName()" type="text" />
      </div>

      <div class="input-container">
        <div class="title">EMAIL</div>
        <input [(ngModel)]="user.email" type="email" />
      </div>

      <div class="input-container">
        <div class="title">PHONE</div>
        <input [(ngModel)]="user.phone_number" type="tel" />
      </div>


    </div>



    <div *ngIf="isNew" [style.display]="!isAccountVisibleState ? 'flex' : 'none'" class="input-tab">


      <div class="input-container">
        <div class="title">{{" PASSWORD"}}</div>
        <input type="password" [(ngModel)]="user.password" />
      </div>

      <div class="input-container">
        <div class="title">CONFIRM PASSWORD</div>
        <input type="password" [(ngModel)]="user.password_confirm" />
      </div>

    </div>


  </section>


</section>
