<section class="container" matRipple (click)="overview.emit(course)">
  <section class="course-detail-item">
    <div class="image-container">
      <img src="{{course.banner}}" alt="" srcset="">
    </div>
    <div class="text-container">
      <div class="title">{{course.name}}</div>
      <div class="category">{{course.category.name}}</div>
      <div class="group">
        <div class="rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
          <mat-icon>star_border</mat-icon>
          <mat-icon>star_border</mat-icon>
        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div class="skill">{{course.skill_level}}</div>


        <mat-divider [vertical]="true"></mat-divider>
      </div>



      <div class="price">{{ "GH₵" + course.base_price}}</div>
    </div>
  </section>


  <mat-divider></mat-divider>
</section>
