.mat-dialog-container {
  padding: 0px;
}

.review-dialog-container {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.review-title {
  font-size: 1.6rem;
  text-align: center;
  font-family: SFProText;
  margin-bottom: 30px;
}

textarea {
  resize: none;
  outline: none;

  border: solid 1px var(--black-10);
  background-color: var(--white-two-20);

  font-size: 15px;
  font-family: SFUIText-Light;
  /* font-weight: bold; */
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding: 5px;
}

.subheading {
  font-size: 0.982rem;
  font-weight: bold;
  /* font-family: SFProText; */
  font-family: SFUIText-Medium;
  margin-bottom: 10px;
}

.user-profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;

  border-radius: 50%;
}

.profile-section {
  display: flex;
}

.user-info-section {
  display: flex;
  margin-right: 30px;
}
.nav-top-single {
  display: flex;
  justify-content: flex-end;
}
.nav-top-double {
  display: flex;
  justify-content: space-between;
}

.save-button {
  font-family: SFProText;
  font-size: 0.951rem;

  background-color: var(--pumpkin-orange);
  padding: 0px 15px;

  border-radius: 0px;
  color: white;

  outline: none;
}
.rate-star {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

  text-align: center;
}

.nav-top-single,
.nav-top-double {
  width: 100%;
  margin-bottom: 50px;
}
.rating-comp {
  outline: none;
}
/* ============================================== */
/* HDTV                                           */
/*                                      1920x1080 */
/* ============================================== */
@media screen and (min-width: 1080px) and (max-width: 1920px) {
  /* ADD YOUR CSS ADJUSTMENTS BELOW HERE */

  .review-dialog-container {
    width: 45vw;
    /* background-color: green; */
  }
}

@media only screen and (max-device-width: 480px), (max-width: 1200px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .review-dialog-container {
    width: fit-content;

    /* background-color: red; */
  }
}
