<div class="review-dialog-container">


  <!-- If the component is rated -->
  <ng-template [ngIf]="state == 1">
    <div class="rate-star">
      <div class="nav-top-single">
        <button mat-button mat-dialog-close>Close</button>
      </div>

      <div class="review-title">How would you rate this course?</div>

      <div class="subheading">
        {{
        hovered === 1 || hovered === 0.5 ? "Awful, not what I expected at all" :
        hovered === 1.5 ? "Awful / Poor" :
        hovered === 2 ? "Poor, pretty disappointed" :
        hovered === 2.5 ? "Poor / Average" :
        hovered === 3 ? "Average, could be better" :
        hovered === 3.5 ? "Average / Good" :
        hovered === 4 ? "Good, what I expected" :
        hovered === 4.5 ? "Good / Amazing" :
        hovered === 5 ? "Amazing, above expectations!" : "Select Rating"
        }}
      </div>
      <app-rating-stars [size]="3" [maxStars]="5" [(initialStars)]="selected" (hoverOutput)="hovered = $event"
        (ratingOutput)="toggleSelected($event)" [color]="'#f4c150'">
      </app-rating-stars>
      <div style="margin-bottom: 20px;"></div>
    </div>
  </ng-template>


  <ng-template [ngIf]="state == 2">
    <div class="rate-star">
      <div class="nav-top-double">
        <button mat-button (click)="navigateBack(1)">Back</button>
        <button mat-button mat-dialog-close>Close</button>
      </div>

      <div class="review-title">How would you rate this course?</div>

      <div class="subheading">
        {{
        hovered === 1 || hovered === 0.5 ? "Awful, not what I expected at all" :
        hovered === 1.5 ? "Awful / Poor" :
        hovered === 2 ? "Poor, pretty disappointed" :
        hovered === 2.5 ? "Poor / Average" :
        hovered === 3 ? "Average, could be better" :
        hovered === 3.5 ? "Average / Good" :
        hovered === 4 ? "Good, what I expected" :
        hovered === 4.5 ? "Good / Amazing" :
        hovered === 5 ? "Amazing, above expectations!" : "Select Rating"
        }}
      </div>
      <app-rating-stars [size]="2" [maxStars]="5" [(initialStars)]="selected" (hoverOutput)="hovered = $event"
        (ratingOutput)="toggleSelected($event)" [color]="'#f4c150'">
      </app-rating-stars>

      <div style="margin-bottom: 20px;"></div>
      <textarea
        placeholder="Tell us about your own personal experience taking this course. Was it a good match for you?"
        [(ngModel)]="comment" name="message" rows="7" cols="60"> </textarea>

      <div style="margin-bottom: 50px;"></div>

      <button class="save-button" (click)="navigateBack(3)" mat-flat-button>Save and Continue</button>
    </div>
  </ng-template>


  <ng-template [ngIf]="state == 3">
    <div class="rate-star">
      <div class="nav-top-double">
        <button mat-button (click)="navigateBack(2)">Back</button>
        <button mat-button mat-dialog-close>Close</button>
      </div>

      <div class="review-title">Thanks for helping our community!</div>

      <div class="subheading">Your review will be public within 24 hours.</div>

      <mat-divider style="width: 80%;"></mat-divider>
      <div style="margin-bottom:30px;"></div>

      <div class="profile-section" style="width:80%">
        <div class="user-info-section">
          <img [src]="user.profile_pic || 'https://pdtxar.com/wp-content/uploads/2019/04/person-placeholder.jpg'"
            class="user-profile-image" alt="" srcset="">
          <div style="margin-top: 5px; margin-left: 10px; text-align:left;">{{user.firstname + " " + user.lastname}}
          </div>
        </div>

        <div class="comment-section" style=" width:60%">

          <app-rating-stars [readonly]="true" [size]="1" [maxStars]="5" [(initialStars)]="selected"
            (ratingOutput)="toggleSelected($event)" (hoverOutput)="hovered = $event" [color]="'#f4c150'">
          </app-rating-stars>

          <div style="text-align:left;">{{comment ? comment : "There are no written comments for your review."}}</div>
        </div>

      </div>

      <div style="margin-bottom: 30px;"></div>
      <mat-divider style="width: 80%;"></mat-divider>
      <div>

      </div>
      <div style="margin-bottom: 50px;"></div>
      <button mat-flat-button class="save-button" (click)="closeDialog()">Save and Exit</button>
    </div>
  </ng-template>
</div>




<ng-template #ratestar>
  <div class="rate-star">
    <div class="nav-top-single">
      <button mat-button mat-dialog-close>Close</button>
    </div>

    <div class="review-title">How would you rate this course?</div>

    <div class="subheading">Select Rating</div>
    <app-rating-stars [size]="3" [maxStars]="6" [(initialStars)]="selected" (ratingOutput)="toggleSelected($event)">
    </app-rating-stars>

    <button (click)="navigateBack(2)" mat-button>Close</button>
  </div>
</ng-template>


<ng-template #ratestarcomment>
  <div class="rate-star">
    <div class="nav-top-double">
      <button mat-button (click)="navigateBack(1)">Back</button>
      <button mat-button mat-dialog-close>Close</button>
    </div>

    <div class="review-title">How would you rate this course?</div>

    <div class="subheading">Select Rating</div>
    <app-rating-stars [size]="3" [maxStars]="6" [(initialStars)]="selected" (ratingOutput)="toggleSelected($event)">
    </app-rating-stars>

    <button (click)="navigateBack(3)" mat-button>Close</button>
  </div>
</ng-template>


<ng-template #ratestaroverview>
  <div class="rate-star">
    <div class="nav-top-double">
      <button mat-button (click)="navigateBack(2)">Back</button>
      <button mat-button mat-dialog-close>Close</button>
    </div>

    <div class="review-title">How would you rate this course?</div>

    <div class="subheading">Select Rating</div>

    <app-rating-stars [size]="3" [maxStars]="6" [(initialStars)]="selected" (ratingOutput)="toggleSelected($event)">
    </app-rating-stars>


  </div>
</ng-template>
