<section [ngClass]="{ 'background': background}" class="image-text-card-container">

    <section [ngClass]="{'reversed': reversed}" class="image-text-card-content-container">

        <img [src]="url" alt="">

        <section class="image-text-card-content-text">
            <h3>{{title}}
            </h3>
            <p>
                {{description}}
            </p>

            <!-- <a class="join-us-link" href="#">
        Get a glimpse inside
        <mat-icon>arrow_right_alt</mat-icon>
      </a> -->
        </section>

    </section>
</section>