:host {
  --programs-height: 130px;
}
.programs-container {
  width: 100%;
  /* height: var(--programs-height); */

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 50px 0px;

  /* Give all specific components */
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

.programs-content-container {
  display: flex;
  justify-content: space-between;

  width: calc((300px * 3) + 40px);
  height: 100%;

  /* border-radius: 0.75rem; */
  background-color: white;

  z-index: 2 !important;
}

.programs-heading {
  font-family: SFUIText-Medium;
  font-size: 32px;

  line-height: normal;
  color: var(--charcoal-grey);

  margin-bottom: 30px;
}

.programs-subheading-heading {
  /* font-size: 24px; */

  margin-bottom: 30px;
  text-align: center;

  font-family: SFUIText-Light;
  font-size: 0.97rem;
  line-height: 1.25;
  color: var(--brownish-grey);
}

/* media queries */
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1368px) {
}

@media screen and (min-width: 1414px) {
}

@media (max-width: 575px) {
  .programs-content-container {
    display: flex;
    flex-direction: column;
    width: calc(100%);
  }
}
