<div>
  <jhi-header [activeRoute]="'academics'" [headerPosts]="headerPosts"></jhi-header>
  <!-- <app-jhi-partners></app-jhi-partners> -->
  <app-jhi-vertical-divider style="height:100px"></app-jhi-vertical-divider>


  <app-jhi-video-about-us></app-jhi-video-about-us>
  <app-jhi-vertical-divider style="height:100px;"></app-jhi-vertical-divider>

  <!-- <app-jhi-milestone class="milestone"></app-jhi-milestone> -->

  <!-- <app-jhi-vertical-divider style="height:100px"></app-jhi-vertical-divider> -->

  <app-jhi-people-are-saying-list></app-jhi-people-are-saying-list>
  <!-- <app-jhi-vertical-divider style="height:100px"></app-jhi-vertical-divider> -->
  <app-jhi-explainer-text [text]="education" [alignLeft]='true'></app-jhi-explainer-text>

  <div style="margin-bottom: 100px;"></div>
  <!-- <app-jhi-programs [courses]="courses"></app-jhi-programs> -->
  <app-jhi-new-all-programs-layout [courses]='courses'></app-jhi-new-all-programs-layout>
  <div style="margin-bottom: 50px;"></div>


  <jhi-footer></jhi-footer>
</div>
