<section class="login-container">
  <div class="side-page">
    <div class="left-head-title"> News List </div>
    <div class="left-head-description">
      <div class="title"> Good Luck !!</div>
      <div class="description">
        Access Hive News Login
      </div>
    </div>
  </div>
  <div class="side-page sign-in">
    <div class="sign-im-container">
      <div> Sign In </div>
      <div> or create an account </div>
      <div> </div>

      <!-- <pip-simple-button theme="dark" text="Sign in"> </pip-simple-button>
      <br>
      <pip-simple-button theme="white" text="Sign in with Facebook"> </pip-simple-button>
      <br>
      <pip-simple-button theme="white" text="Sign in with Google"> </pip-simple-button> -->
    </div>
  </div>
</section>
