.sm-margin-top {
  margin-top: 20px;
}

.md-margin-top {
  margin-top: 40px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.alert-error,
.alert-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
