.user-dashboard-container {
  width: 100vw;
  height: 90vh;
}

.admin-container {
  width: 100%;
  height: 100%;

  padding-right: 0px;

  margin-right: 0px;
  margin-left: 0px;

  padding-left: 0px;
}

.left-content {
  display: flex;
}
.mat-drawer-content {
  /* position: relative; */
  overflow: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-content-dynamic {
  margin-right: 80px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 20px;
  opacity: 0.8;
  font-family: SFUIText-Light;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);
}

.profile-image {
  width: 60px;
  height: 60px;

  border-radius: 30px;

  object-fit: cover;
  object-position: center;

  margin-right: 10px;
}

.side-nav {
  /* min-width: 200px; */
  flex-shrink: 1;
  width: 15%;
}

.top-navigation {
  height: 10vh;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: white;
}

.content {
  display: block;
  /* width: 85%; */

  overflow: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content .admin-container {
  width: 100%;
  height: 100%;

  /* background-color: black; */

  /* background-color: #ff055b;
  todo Work on scaling the content to fit */
}
.top-navigation .nav-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

.top-navigation .nav-content .nav-brand {
  width: 15%;
  /* min-width: 200px; */
  height: 100%;
  opacity: 0.8;
  background-image: linear-gradient(142deg, #ff8b21 34%, #ff055b);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.top-navigation .nav-content .nav-brand img {
  width: 145px;
  height: 145px;
  object-fit: contain;
  object-position: center;
}

.nav-link {
  /* width: 100%; */
  height: 45px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);

  padding-left: 25px;
}

.div-active {
  display: block;
  width: 100%;
}

/* todo Fix This, Color before Navigation */
.div-active::before {
  /* display: flex; */
  width: 3px;
  content: " ";
  /* background-color: #ff055b; */
  height: 45px;
}

.nav-link .icon {
  margin-right: 10px;
}
pppppppppppppppppp .active {
  background-color: var(--pumpkin-orange-15);

  font-family: SFUIText-Medium;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);
}

.side-nav .nav-title {
  font-family: SFUIText-Medium;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: var(--pumpkin-orange);

  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 25px;
}

button {
  outline: none;
}

/* mobile View */
@media only screen and (max-device-width: 480px), (max-width: 1200px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .top-navigation {
    width: 100%;
  }
}
