<div>
  <jhi-header [posts]="headerPosts"></jhi-header>
  <app-jhi-partners></app-jhi-partners>
  <!-- <jhi-category-tab (tabSelected)="tabSelected($event)"></jhi-category-tab> -->
  <!-- <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner> -->
  <!-- <jhi-post-cards *ngIf="!isLoading" [posts]="posts" [podcasts]="podcasts" [isPodcast]="isPodcast"></jhi-post-cards> -->
  <!-- <jhi-load-more></jhi-load-more> -->

  <app-jhi-mantra></app-jhi-mantra>

  <div style="margin-bottom: 40px;"></div>
  <app-jhi-convince></app-jhi-convince>

  <div style="margin-bottom: 40px;"></div>

  <app-jhi-programs></app-jhi-programs>

  <div style="margin-bottom: 40px;"></div>

  <app-jhi-news-list></app-jhi-news-list>

  <div style="margin-bottom: 40px;"></div>

  <app-jhi-news-letter></app-jhi-news-letter>
  <jhi-footer></jhi-footer>
</div>
