<div>
  <jhi-header [headerPosts]="headerPosts"></jhi-header>

  <app-jhi-partners></app-jhi-partners>

  <app-jhi-explainer-text
    [showFooter]="true"
    [showHeading]="true"
    [text]="message"
    [heading]="heading"
    [footer]="footer"
  >
  </app-jhi-explainer-text>

  <div style="margin-bottom: 50px"></div>

  <app-jhi-mantra></app-jhi-mantra>

  <div style="margin-bottom: 50px"></div>

  <app-jhi-convince></app-jhi-convince>

  <div style="margin-bottom: 50px"></div>

  <app-jhi-explainer-text
    [text]="shapedBy"
    [alignLeft]="true"
  ></app-jhi-explainer-text>

  <div style="margin-bottom: 50px"></div>

  <app-jhi-new-programs-layout
    *ngIf="courses"
    [courses]="courses.length > 3 ? courses.slice(0, 3) : courses"
  >
  </app-jhi-new-programs-layout>

  <app-jhi-vertical-divider></app-jhi-vertical-divider>

  <jhi-footer></jhi-footer>
</div>
