<div>
    <jhi-header [headerPosts]="headerPosts"></jhi-header>


    <!-- Yale is more than an institution of higher learning; it is a community where people of diverse cultures and nationalities live, work, and play — connected by their similarities and enriched by their differences.

Our community members have a wide range of talents, interests, vocations, and needs, and the university is committed to providing the services and opportunities to keep them strong in mind, body, and spirit.

We celebrate our hometown of New Haven, CT for all that it offers, including its renowned restaurants, shops, and cultural attractions. -->

    z
    <app-jhi-explainer-text [showFooter]='true' [showHeading]="true" [text]="message" [heading]="heading" [footer]="footer">
    </app-jhi-explainer-text>

    <div style="margin-bottom: 50px;"></div>


    <app-jhi-mantra></app-jhi-mantra>

    <div style="margin-bottom: 50px;"></div>
    <app-jhi-convince></app-jhi-convince>

    <div style="margin-bottom: 50px;"></div>

    <!-- <app-jhi-programs [courses]="courses"></app-jhi-programs> -->

    <!-- <div style="margin-bottom: 50px;"></div> -->

    <app-jhi-explainer-text [text]="shapedBy" [alignLeft]='true'></app-jhi-explainer-text>
    <div style="margin-bottom: 50px;"></div>
    <!-- <app-jhi-vertical-divider></app-jhi-vertical-divider> -->
    <app-jhi-new-programs-layout *ngIf="courses" [courses]=" courses.length > 3 ? courses.slice(0,3) : courses">
    </app-jhi-new-programs-layout>

    <div style="margin-bottom: 50px;"></div>

    <app-jhi-news-list *ngIf="posts" [posts]="posts.length > 3 ? posts.slice(0,3) : posts"></app-jhi-news-list>

    <app-jhi-vertical-divider></app-jhi-vertical-divider>

    <!-- <app-jhi-news-letter></app-jhi-news-letter> -->
    <!-- <div style="margin-bottom: 50px;"></div> -->

    <jhi-footer></jhi-footer>
</div>
