.courses-container {
  min-height: 400px;
  /* background-color: black; */

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  padding-left: 5%;
  padding-right: 5%;

  margin-bottom: 20vh;
}

#lottie {
  width: 300px;
}

.top-header {
  font-size: 20px;
  font-family: SFUIText-Medium;
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.top-header .heading {
  margin-bottom: 10px;
}
.column-list-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */

  padding-left: 5%;
  padding-right: 5%;
}

.column-list-container .item {
  margin-right: 30px;
  margin-bottom: 10px;
}
#text-container {
  width: 300px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-container .text {
  font-family: SFProText;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--charcoal-grey);
  margin-bottom: 20px;
}

#text-container button {
  background-color: #ff8100;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: SFProText;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--charcoal-grey);

  padding-left: 5%;
  padding-right: 5%;
}

.title::after {
  display: block;
  content: " ";
  width: 50px;
  height: 3px;
  background-color: #ff8100;

  margin-top: 10px;
}

/* mobile View */
@media only screen and (max-device-width: 480px), (max-width: 1200px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .courses-container {
    justify-content: center;
  }
}
