#dark {
  color: rgb(0, 0, 0);
}

#white {
  color: white;
}



.save_button {
  background-color: #ff8100;
  color: white;

  width: 100px;
}

.update-file-button {
  position: absolute;
  top: 200px;
  right: 40px;
}

.content-container {
  width: calc(100% - (250px + 10px));
  /* background-color: #ff8100; */

  display: flex;
  justify-content: center;
}

/* Title Input */
.mat-form-field {
  display: block;
  font-size: 25px;
  color: rgb(0, 0, 0, 0.6);
}

.blog-content-post-category {
  font-size: 18px;
}
.blog-content-input-card {
  width: 100%;
}
.blog-content-input-card-header {
  display: flex;
  /* justify-content: center;
  align-items: center; */

  padding: 20px 0px;
}

.add-post-header-image {
  width: auto;
  display: flex;
}

.add-post-header-image img:not(:first-child) {
  margin-left: -20px;
}

.add-post-header-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blog-content-input-card img {
  object-fit: cover;
  object-position: center;
}

.admin-dashboard-post-header {
  width: 100%;
  color: rgb(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
}

.admin-dashboard-post-header h3 {
  height: fit-content;
  width: fit-content;

  margin: 0;

  font-size: 32px;
}

.admin-dashboard-post-header:last-child:first-child {
  margin-right: 10px;
}

.admin-dashboard-content {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  position: relative;
}

.admin-dashboard-content-container {
  width: 85%;
  height: auto;
  /* background-color: #d41354; */

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

  color: white;
  line-height: 1.5rem;

  z-index: 0;
}

/* Image Header Component */
.admin-dashboard-image-header-container {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;

  position: relative;

  background-color: rgb(0, 0, 0, 0.6);
}

.admin-dashboard-image-header-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  border-radius: 5px;
}

.admin-dashboard-image-header-container button {
  position: absolute;

  top: 10px;
  right: 10px;
}

.admin-dashboard-image-header-container button mat-icon {
  display: flex;
}
.admin-dashboard-image-header-container button mat-icon input {
  /* visibility: collapse; */

  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0;
  left: 0;
  padding-left: 10px;
}
.admin-dashboard-image-header-container .admin-dashboard-blog-title {
  position: absolute;
  bottom: 10px;
  left: 0px;

  width: 90%;
  height: auto;

  font-size: 35px;

  border: none;
  background: none;
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  outline: none;

  padding: 5px;
}

.admin-dashboard-image-header-container .admin-dashboard-blog-title {
}

#content-editor {
  width: 50%;
  height: 700px;
  z-index: 999 !important;
}

/* Course Specifics */
.heading-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.active-heading::after {
  display: block;
  content: " ";
  width: 50px;
  height: 3px;
  background-color: #ff8100;

  margin-top: 5px;
  font-weight: bold;
}

.heading {
  font-family: SFUIText-Light;
  font-size: 23px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);

  margin-right: 30px;

  cursor: pointer;
}

.full-width {
  width: 100%;
}

.tabs {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/*
    Screen Resolutions Fix
    default styles here for older browsers.
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  .admin-dashboard-content-container .side-page:last-child {
    width: 100%;
  }
}

/* Reaches max zoom**/
@media (max-width: 1200px) {
}
