<section class="login-container">
  <div class="side-page background-container">
    <div class="left-head-title"> Hive News </div>
    <div class="left-head-description">
      <div class="title"> Edukits: Merging 3D Printing and Education </div>
      <div class="description">
        Access Hive News Login
      </div>
    </div>
  </div>

  <div class="side-page sign-in">
    <div class="sign-im-container">
      <div> Sign In </div>
      <!-- <div> or create an account </div> -->
      <div> </div>


      <section class="login-inputs">
        <input [(ngModel)]="email" type="text" name="email" id="email">
        <input [(ngModel)]="password" type="password" name="password" id="password">

        <input *ngIf="!isLoading" mat-button type="button" value="Submit" (click)="signin()">
        <div *ngIf="!isLoading else loader"></div>
      </section>

    </div>
  </div>
</section>


<ng-template #loader>
  <section style="display:flex; justify-content:center">
    <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>

  </section>
</ng-template>
