<nav class="navbar nav-container" [ngClass]="{ scrolled: scrolled }">
  <div class="navbar-logo">
    <a [routerLink]="['/']">
      <img
        [src]="
          !scrolled
            ? '/assets/images/logom.png'
            : '/assets/images/white-logo.png'
        "
        alt="Hive News Logo"
        loading="lazy"
        class="logo"
      />
    </a>
  </div>
  <div
    class="menu-toggle"
    id="mobile-menu"
    [ngClass]="{ 'is-active': toggleIsActive }"
    (click)="isActive()"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <div [ngClass]="{ active: toggleIsActive }" class="nav-menu">
    <ul class="links-menu">
      <li>
        <a
          [ngClass]="{ 'active-route': activeRoute === 'home' }"
          class="nav-links"
          routerLink="/"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/academics"
          class="nav-links"
          [ngClass]="{ 'active-route': activeRoute === 'academics' }"
          routerLink="/academics"
          routerLinkActive="active"
          >Academics</a
        >
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="about"
          [ngClass]="{ 'active-route': activeRoute === 'about' }"
          class="nav-links"
          >About Us</a
        >
      </li>
    </ul>

    <hr />

    <ul class="nav-menu2">
      <h4>Our course section</h4>
      <li><a href="# " class="navlinks-courses">Modern CS</a></li>
      <li><a href="# " class="navlinks-courses">Digital Fabrication</a></li>
      <li><a href="# " class="navlinks-courses">Digital Marketing</a></li>
      <li><a href="# " class="navlinks-courses">Business development</a></li>
    </ul>

    <hr />

    <ul class="nav-menu2">
      <h4>Our news section</h4>
      <li><a href="# " class="navlinks-courses">Modern CS</a></li>
      <li><a href="# " class="navlinks-courses">Digital Fabrication</a></li>
      <li><a href="# " class="navlinks-courses">Digital Marketing</a></li>
      <li><a href="# " class="navlinks-courses">Business development</a></li>
    </ul>

    <hr />

    <div class="nav-footer">
      <h1>HIT</h1>
      <div class="icons">
        <i class="fab fa-facebook fa-3x">F</i> Normal <br />
      </div>
    </div>
  </div>
</nav>
