<div class="category-tab">
  <tabset>
    <tab class="category-tab-display-tex" (selectTab)="onChange($event)" heading="All" id="all"></tab>
    <tab class="category-tab-display-tex" (selectTab)="onChange($event)" heading="Blog" id="blog"></tab>
    <tab class="category-tab-display-tex" (selectTab)="onChange($event)" heading="Event" id="event"></tab>
    <tab class="category-tab-display-tex" (selectTab)="onChange($event)" heading="Funding Opportunities" id="opp"></tab>
    <tab class="category-tab-display-tex" (selectTab)="onChange($event)" heading="Podcast" id="podcast"></tab>
  </tabset>
</div>
