<footer class="footer_container">
  <div class="footer-links-container">
    <div class="footer-link">
      <span class="hive_link_title">
        HIVE LINKS
        <hr align="left" width="65px" size="3"
          style="background-color:rgba(255, 129, 0, 0.6); border-color: rgba(255, 129, 0, 0.6)" />
      </span>

      <ul class="hive_links">
        <li><a routerLink="/">HOME</a></li>
        <li>
          <a href="https://hiveacademy.co" target="_blank">HIVE ACADEMY</a>
        </li>
        <li><a href="">SPACES</a></li>
      </ul>
    </div>
    <div class="footer-link">
      <span class="hive_link_title">
        HIVE NEWS
        <hr align="left" width="65px" size="3"
          style="background-color:rgba(255, 129, 0, 0.6); border-color: rgba(255, 129, 0, 0.6)" />
      </span>

      <ul class="hive_links">
        <li><a routerLink="/">BLOG</a></li>
        <li><a routerLink="/">EVENTS</a></li>
        <li><a routerLink="/">OPPORTUNITIES</a></li>
      </ul>
    </div>
    <div class="footer-link">
      <span class="hive_link_title">
        GET SOCIAL
        <hr align="left" width="65px" size="3"
          style="background-color:rgba(255, 129, 0, 0.6); border-color: rgba(255, 129, 0, 0.6)" />
      </span>

      <ul class="hive_links">
        <li>
          <a href="https://web.facebook.com/kumasihive/" target="_blank"><img
              src="../../../assets/images/facebook-logo-in-circular-button-outlined-social-symbol.svg" alt="" /></a>
        </li>
        <li>
          <a href="https://twitter.com/KumasiHive" target="_blank">
            <img src="../../../assets/images/twitter-circular-button.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/kumasihive/" target="_blank">
            <img src="../../../assets/images/instagram.svg" alt="" />
          </a>
        </li>
        <li>
          <a href=""><img src="../../../assets/images/slack.svg" alt="" /></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="right_hive">
    <p class="kumasi_hive">
      Copyright © 2021 by Kumasi Hive. All rights reserved.
    </p>
  </div>
</footer>