<footer class="footer_container">
  <div class="footer-branding">
    <img src="/assets/images/logo-w.png" alt="" />
  </div>

  <div class="footer-links-container">
    <div class="footer-link">
      <span class="hive_link_title">
        HIVE LINKS
        <hr
          align="left"
          width="65px"
          size="3"
          style="
            background-color: rgba(255, 129, 0, 0.6);
            border-color: rgba(255, 129, 0, 0.6);
          "
        />
      </span>

      <ul class="hive_links">
        <li>
          <a target="_blank" href="https://hiveacademy.co"> ACADEMY</a>
        </li>
        <li>
          <a target="_blank" href="https://kumasihive.com/our-space"> SPACES</a>
        </li>
      </ul>
    </div>

    <div class="footer-link">
      <!-- <span class="hive_link_title">
        HIVE NEWS
        <hr
          align="left"
          width="65px"
          size="3"
          style="
            background-color: rgba(255, 129, 0, 0.6);
            border-color: rgba(255, 129, 0, 0.6);
          "
        />
      </span>

      <ul class="hive_links">
        <li><a routerLink="academics">ACADEMICS</a></li>
        <li><a routerLink="about">ABOUT US</a></li>
      </ul> -->
    </div>

    <div class="footer-link">
      <span class="hive_link_title">
        GET SOCIAL
        <hr
          align="left"
          width="65px"
          size="3"
          style="
            background-color: rgba(255, 129, 0, 0.6);
            border-color: rgba(255, 129, 0, 0.6);
          "
        />
      </span>

      <ul class="hive_links">
        <li>
          <a
            href="https://facebook.com/HiveInstituteofTechnology"
            target="_blank"
            ><img src="/assets/images/facebook.svg" alt=""
          /></a>
        </li>
        <li>
          <a href="https://twitter.com/HiveInstitute" target="_blank">
            <img src="assets/images/twitter.svg" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/hive_institute_of_technology/"
            target="_blank"
          >
            <img src="assets/images/instagram.svg" loading="lazy" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="right_hive">
    <p class="kumasi_hive">
      Copyright © 2021 by Kumasi Hive. All rights reserved.
    </p>
  </div>
</footer>
