<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Subscription Activation</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Your subscription account has been activated.</strong> Please </span>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Your user could not be activated.</strong> Please use the subscription form to sign up.
            </div>
        </div>
    </div>
</div>
