<ng-template [ngIf]="isPodcast" [ngIfElse]="post">
  <div class="container">
    <iframe
      src="https://anchor.fm/hive-podcast/embed/episodes/The-Power-of-Youth-with-Reeta-Roy---CEO-of-Mastercard-Foundation--Episode-003-e62alt/a-aq0m3s"
      frameborder="0" scrolling="no" (load)="podcastLoaded()"
      style="width: 100%; height: 165px; margin-bottom: 20px;"></iframe>
    <iframe
      src="https://anchor.fm/hive-podcast/embed/episodes/Open-Bioeconomy-Lab-with-Dr--Chiara-Gandini-and-Harry-Aglikoh--Episode-002-e5fcih/a-ao7ah2"
      frameborder="0" scrolling="no" (load)="podcastLoaded()"
      style="width: 100%; height: 165px; margin-bottom: 20px;"></iframe>
    <iframe
      src="https://anchor.fm/hive-podcast/embed/episodes/Tech-and-Innovation-with-Prince-Banini--Episode-001-e4queb/a-ak3mn9"
      frameborder="0" scrolling="no" (load)="podcastLoaded()"
      style="width: 100%; height: 165px; margin-bottom: 20px;"></iframe>
    <iframe src="https://anchor.fm/hive-podcast/embed/episodes/Hive-Podcast-Promo-e4m3f1/a-aj5pfq" frameborder="0"
      scrolling="no" (load)="podcastLoaded()" style="width: 100%; height: 165px; margin-bottom: 20px;"></iframe>
  </div>
</ng-template>

<ng-template #post>
  <div class="news_card_container">
    <mat-card *ngFor="let post of posts" (deferLoad)="post.show = true">
      <div [routerLink]="['/posts', post.post_id]">
        <ng-container *ngIf="post.show">
          <img mat-card-image [src]="getPostThumbImage(post.header_image_url)" style="height: 240px" />

          <mat-card-content>
            <p class="mat_news_title_card">{{ post.title }}</p>

            <p class="mat_date_news">
              {{ post.date_created | date: 'dd MMM yyyy' }}
            </p>
          </mat-card-content>
        </ng-container>
      </div>
    </mat-card>
  </div>
</ng-template>