<ng-template #post>
  <div class="news_card_container">
    <mat-card *ngFor="let post of posts" (deferLoad)="post.show = true">
      <div [routerLink]="['/posts', post.post_id]">
        <ng-container *ngIf="post.show">
          <img mat-card-image loading="lazy" [src]="getPostThumbImage(post.header_image_url)" />

          <mat-card-content class="post_content">
            <p class="mat_news_title_card">{{ post.title }}</p>

            <p class="mat_date_news">
              {{ post.date_created | date: 'dd MMM yyyy' }}
            </p>
          </mat-card-content>
        </ng-container>
      </div>
    </mat-card>
  </div>
</ng-template>
