:host {
  --card-height: 350px;
  --image-height: 240px;
}

.news_card_container {
  margin: 30px auto;
  width: 100%;
  display: block;
  padding: 0 15px;
}

.mat-card {
  width: 100%;
  height: var(--card-height);
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1),
    -1px -1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  box-sizing: border-box;
}

mat-card div {
  height: 100%;
  display: block;
}

.mat-card img {
  height: var(--image-height);
}

.mat-card:hover {
  transform: scale(1.04);
}

.mat_news_title_card {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  overflow-wrap: break-word;

  flex: 1;
}
/* Calculate the height intrinsicly and use*/
.post_content {
  width: 100%;
  height: calc(var(--card-height) - var(--image-height));

  display: flex;
  flex-direction: column;
}

.mat_date_news {
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
  .mat_news_title_card {
    flex: 0;
  }
}

@media screen and (min-width: 768px) {
  .news_card_container {
    /* width: 1140px; */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .mat-card {
    width: var(--card-height);
    margin: 0 0 30px 20px;
    height: 385px;
  }

  .mat_news_title_card {
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    overflow-wrap: break-word;
  }
}

@media screen and (min-width: 1024px) {
  .news_card_container {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .mat-card {
    width: var(--card-height);
    margin: 0 0 30px 20px;
    height: 390px;
  }

  .mat_news_title_card {
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    overflow-wrap: break-word;
  }
}

@media screen and (min-width: 2560px) {
  .news_card_container {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .mat-card {
    width: var(--card-height);
    margin: 0 0 30px 20px;
    height: 390px;
  }

  .mat_news_title_card {
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    overflow-wrap: break-word;
  }
}
