.mat-dialog-container {
  padding: 0px;
}

.edit-dialog-container {
  width: 700px;
  height: 250px;
  border-radius: 10px;
}

.edit-review-header {
  font-size: 20px;
  font-family: SFUIText-Medium;
  /* font-size: 17px; */
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--charcoal-grey);
}

.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.edit-header button {
  outline: none;
}

.edit-review-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  padding-left: 30px;
  padding-right: 30px;
}

.comment {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--charcoal-grey);
}
.buttons {
  display: flex;
  justify-content: flex-end;

  padding-left: 30px;
  padding-right: 30px;
}

.buttons button {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-right: 5px;
  outline: none;

  /* border: 1px solid #ff8100; */
  border-color: #ff8100;
  color: #ff8100;
}

.buttons .stroked-button {
  background-color: #ff8100;
  color: whitesmoke;
}
