:host {
  --people-are-saying-height: 130px;

  background-color: black;
}
.people-are-saying-container {
  width: 100%;
  /* height: var(--people-are-saying-height); */

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 50px 0px;

  background-color: rgba(0, 0, 0, 0.02);

  /* Give all specific components */
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  font-family: SFUIText-Light;
}

.people-are-saying-heading-nav {
  width: 100%;

  display: flex;
  justify-content: space-between;

  font-family: SFUIText-Medium;
}

.people-are-saying-heading-nav h4 {
  font-family: SFUIText-Medium;
}

.people-are-saying-divider {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.0967);
}

.people-are-saying-content-container {
  display: flex;
  flex-direction: column;

  width: calc(85%);
  height: 100%;

  z-index: 2 !important;
}

.people-are-saying-content-container-list {
  width: 100%;

  display: flex;
  justify-content: space-between;

  /* background-color: white; */
}

.people-are-saying-content-container-list-item {
  width: calc((100% / 2));

  display: flex;
  flex-direction: column;
  /* border: 0.5px solid rgba(0, 0, 0, 0.0558); */

  /* background-color: #e67e22; */

  height: 600px;
}
.people-are-saying-content-container-list-item .images-list {
  display: flex;
}

.people-are-saying-content-container-list-item .quotes-container {
  width: 70%;

  font-size: 1.65rem;
  line-height: 1.55em;
  margin-top: 50px;
}

.people-are-saying-content-container-list-item .quotes-container .footer {
  font-family: SFUIText-Medium;

  font-weight: 700;
  font-size: 1.099rem;
  margin-top: 20px;

  font-style: italic;
}

.people-are-saying-content-container-list-item .images-list img {
  width: 60px;
  height: 60px;

  object-fit: cover;
  object-position: center;
  border-radius: 50%;

  margin-right: 10px;

  cursor: pointer;
}
.cover-image-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.people-are-saying-content-container-list:not(:last-child) {
  border-right: 0.5px dashed rgba(0, 0, 0, 0.2);
}

.people-are-saying-heading {
  font-family: SFUIText-Medium;
  font-size: 32px;

  line-height: normal;
  color: var(--charcoal-grey);

  margin-bottom: 30px;
}

.people-are-saying-heading-nav-item {
  display: flex;
  align-items: center;

  font-family: SFUIText-Medium;
  font-size: 32px;
  line-height: normal;
  color: var(--charcoal-grey);
}

.people-are-saying-heading-nav-item a {
  color: #e67e22;
  display: flex;
  align-items: center;
}
.font-small {
  font-size: 15px;
}
/* media queries */
@media screen and (max-width: 900px) {
  .people-are-saying-content-container-list-item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    /* border: 0.5px solid rgba(0, 0, 0, 0.0558); */

    /* background-color: #e67e22; */

    height: 400px;
  }

  .people-are-saying-content-container-list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1368px) {
}

@media screen and (min-width: 1414px) {
}

@media (max-width: 575px) {
  .people-are-saying-content-container {
    display: flex;
    flex-direction: column;
    width: calc(100%);
  }
}
