<section class="registration-container" *ngIf="course; else horizontalLoader">
  <div
    class="side-page background-container"
    [style.backgroundImage]="'url(' + course.banner.url + ')'"
  >
    <div class="left-head-title" routerLink="/">
      <a routerLink="/"
        ><img
          src="../../../assets/images/HIT-W.png"
          width="200"
          height="100"
          alt="logo"
      /></a>
    </div>
    <div class="left-head-description">
      <div class="description">
        We aim to foster a practical skilled generation that is able to
        articulate problems and develop sustainable and effective future proof
        ideas.
      </div>
    </div>
  </div>

  <section class="side-page register-user" style="color: black">
    <section class="register-logo-header">
      <img
        alt="Hive News Logo"
        loading="lazy"
        class="registration-logo"
        src="/assets/images/logom.png"
      />
    </section>
    <p>
      A few things first before you enroll in
      <strong> {{ course.name }}</strong>
    </p>
    <div style="margin-bottom: 30px"></div>

    <mat-vertical-stepper [linear]="'true'" class="reg-form-vertical-stepper">
      <mat-step [stepControl]="registrationForm">
        <form
          #form="ngForm"
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit()"
        >
          <ng-template matStepLabel>Personal Information</ng-template>
          <section class="stepper-content" matStepContent>
            <section class="login-inputs">
              <div class="input-wrapper">
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Your email"
                  formControlName="email"
                />
                <small
                  *ngIf="
                    registrationForm.get('email').invalid &&
                    registrationForm.get('email').touched
                  "
                  class="text-error"
                  >Please input the correct email</small
                >
              </div>

              <div class="input-wrapper">
                <input
                  type="text"
                  name="firstname"
                  id="firstname"
                  placeholder="Firstname"
                  formControlName="firstname"
                />
                <small
                  *ngIf="
                    registrationForm.get('firstname').invalid &&
                    registrationForm.get('firstname').touched
                  "
                  class="text-error"
                  >Please enter your first name</small
                >
              </div>

              <div class="input-wrapper">
                <input
                  type="text"
                  name="lastname"
                  id="lastname"
                  placeholder="Lastname"
                  formControlName="lastname"
                />
                <small
                  *ngIf="
                    registrationForm.get('lastname').invalid &&
                    registrationForm.get('lastname').touched
                  "
                  class="text-error"
                  >Please enter your last name</small
                >
              </div>

              <div class="input-wrapper">
                <input
                  type="tel"
                  name="tel"
                  id="tel"
                  placeholder="Phone number"
                  formControlName="phoneNumber"
                />
                <small
                  *ngIf="
                    registrationForm.get('phoneNumber').invalid &&
                    registrationForm.get('phoneNumber').touched
                  "
                  class="text-error"
                >
                  Your number should be 10 digits</small
                >
              </div>
            </section>
          </section>

          <button
            class="btn-btn"
            mat-button
            matStepperNext
            [disabled]="!registrationForm.valid"
          >
            Next
          </button>
        </form>
      </mat-step>
      <mat-step>
        <form #courseRequirements="ngForm">
          <ng-template matStepLabel>Course requirements </ng-template>

          <div class="registration-inputs stepper-content" matStepContent>
            <!-- Get the course curriculums and display them -->
            <section
              *ngFor="let question of course.quiz.questions; let count = index"
              class="question-container"
            >
              <span class="question">{{
                count + 1 + "." + question.question
              }}</span>

              <div style="margin-bottom: 10px"></div>

              <!-- CHECK QUESTION TYPES AND USE THAT TO RENDER INPUT TYPES -->

              <!-- RENDER TYPE FOR SHORT ANSWER -->
              <div
                class="text-input"
                *ngIf="question.question_type === SHORT_ANSWER"
              >
                <textarea
                  required
                  ngModel
                  #answer="ngModel"
                  cols="80"
                  matInput
                  [name]="'user-answer'"
                  placeholder="Your answer...."
                  (keyup)="updateSimpleAnswerQuestionType(answer.value, count)"
                ></textarea>
              </div>

              <!-- RENDER TYPE FOR SHORT ANSWER -->
              <mat-radio-group
                required
                ngModel
                ng-model="'question.question'"
                [name]="question.question"
                class="answer-containers"
                *ngIf="question.question_type === MULTIPLE_CHOICE_TYPE"
                vertical
                class="input-wrapper mtb-2"
                aria-label="Select an option"
              >
                <mat-radio-button
                  (change)="updateRadioBoxQuestionType(option, count)"
                  class="checkbox-block"
                  *ngFor="let option of question.answers"
                  [value]="option.answer"
                >
                  {{ option.answer }}
                </mat-radio-button>
              </mat-radio-group>

              <!-- The Question Position uses the count -->
              <section
                class="answer-containers"
                *ngIf="question.question_type === CHECKBOXES_TYPE"
              >
                <mat-checkbox
                  style="display: block; margin-bottom: 10px"
                  *ngFor="
                    let option of question.answers;
                    let opt_count = i;
                    index
                  "
                  required
                  ngModel
                  #checker="ngModel"
                  name="checker"
                  [value]="option.id"
                  (ngModelChange)="
                    updateCheckBoxQuestionType($event, option, count)
                  "
                >
                  {{ option.answer }}
                </mat-checkbox>
              </section>

              <section
                class="answer-containers"
                *ngIf="question.question_type === LINEAR_SCALE_TYPE"
              >
                <app-linear-scale
                  (valueChange)="updateLinearScaleQuestionType($event, count)"
                  [min]="question.linear_scale.min"
                  [max]="question.linear_scale.max"
                >
                </app-linear-scale>
              </section>
            </section>
          </div>

          <app-flash
            *ngIf="flash"
            alertCategory="{{ alertCategory }}"
            alertMessage="{{ alertMessage }}"
          ></app-flash>

          <div class="submit-container">
            <div class="disclaimer">
              <p class="disclaimer-text"><strong>FYI : </strong>{{fyi}}</p>
            </div>
            <button
              mat-button
              class="btn-btn"
              type="submit"
              [disabled]="!courseRequirements.valid || !registrationForm.valid"
              (click)="submitEnrollment()"
            >
              Enroll
              <img
                src="assets/images/spinner.gif"
                [style.display]="isLoading ? 'inline' : 'none'"
                width="16"
                height="11"
                alt="Spinner"
              />
            </button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </section>
</section>

<ng-template #horizontalLoader>
  <section>
    <app-loader></app-loader>
  </section>
</ng-template>
