<header [style.backgroundImage]="getPostThumbUrl(currentPost.image)">
  <jhi-onsite-navbar [activeRoute]="activeRoute"></jhi-onsite-navbar>

  <ngb-carousel class="header-carousel" [showNavigationArrows]="navigation.showNavigationArrows"
    [showNavigationIndicators]="navigation.showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let post of headerPosts; assignCurrentPost(post); ">

      <div class="slider" [style.backgroundImage]="getPostThumbUrl(post.image)">

        <div class="post">
          <!-- This is a Specific design -->
          <section class="left-side">
            <h3 class="post-title">{{ post.title }}</h3>

            <p class="post-date">{{ post.description }}</p>

            <!-- <a class="post-read" [routerLink]="['/posts', post.post_id]">Explore</a> -->

          </section>

          <section class="right-side">
            <div>This is a new Card</div>
            <div>This is a new List card</div>
          </section>

        </div>
      </div>
    </ng-template>
  </ngb-carousel>


</header>
