<header [style.backgroundImage]="getPostThumbUrl(currentPost.banner.url)">
  <app-new-onsite-navbar [activeRoute]="activeRoute"> </app-new-onsite-navbar>

  <ngb-carousel class="header-carousel" [showNavigationArrows]="navigation.showNavigationArrows"
    [showNavigationIndicators]="navigation.showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let post of headerPosts; assignCurrentPost(post); ">

      <div class="slider" [style.backgroundImage]="getPostThumbUrl(post.banner.url)">

        <div class="post">
          <!-- This is a Specific design -->
          <section class="left-side">
            <!-- <h3 class="post-title">{{ post.title }}</h3> -->
            <h3 class="post-title">News</h3>

            <p class="post-date">
              We are focused on creating a vibrant community of belonging that pursues diversity, builds inclusion, and
              creates more equitable opportunities for learning.
            </p>

            <!-- <a class="post-read" [routerLink]="['/posts', post.post_id]">Explore</a> -->

          </section>

          <section *ngIf="posts" class="right-side news-list-tile-container">
            <h3 class="trending-header">TRENDING</h3>

            <a [routerLink]='' *ngFor="let post of posts">
              <div class="news-list-tile">
                <span class="news-list-tile-header">
                  {{post.title}}
                </span>
                <div class="news-list-tile-date"> {{ getAuthors(post.authors) + " · " + getDate(post.date_created)}}
                </div>
              </div>
            </a>
            <!-- <div class="news-list-tile">
              <span class="news-list-tile-header">
                Steering Committee on Human Remains in Harvard Museum Collections
              </span>
              <div class="news-list-tile-date"> January 27, 2021</div>
            </div>

            <div class="news-list-tile">
              <span class="news-list-tile-header">
                Steering Committee on Human Remains in Harvard Museum Collections
              </span>
              <div class="news-list-tile-date"> January 27, 2021</div>
            </div> -->

            <!-- <div class="news-list-tile">
              <span class="news-list-tile-header">
                Steering Committee on Human Remains in Harvard Museum Collections
              </span>
              <div class="news-list-tile-date"> January 27, 2021</div>
            </div> -->
          </section>

        </div>
      </div>
    </ng-template>
  </ngb-carousel>


</header>
